p{
    background-image: url("E:/HTML/once_again/scratches/startuphslim.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
}